.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare', 'serif';
  background: black;
  color: white;
  min-width: 1000px; /* 최소 너비를 box 크기와 일치 */
  min-height: 700px; /* 최소 높이를 box 크기와 일치 */
  overflow: auto; /* 스크롤 활성화 */
}

a{
  text-decoration-line : none;
  color : inherit;
  padding-right: 10px;
}

.center-container{
  display: grid;
  grid-template-columns: 1000px 300px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
  padding-top: 20px;
  width: 100%;
  height: 100%;
}


.box {
  position: relative; /* 기준 위치 */
  width: 1000px; /* 고정된 너비 */
  height: 700px; /* 고정된 높이 */
  margin: 0 auto; /* 가로 중앙 정렬 */
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden; /* 배경이 박스 밖으로 넘어가지 않도록 설정 */
  background-color: black; /* 선택 사항 */
}
.box2 {
  flex-shrink: 0;
  position: relative; /* 기준 위치 */
  width: 300px; /* 고정된 너비 */
  height: 700px; /* 고정된 높이 */
  margin: 0; /* 가로 중앙 정렬 */
  border: 1px solid white;
  border-radius: 10px;
  overflow: hidden; /* 배경이 박스 밖으로 넘어가지 않도록 설정 */
  background-color: black; /* 선택 사항 */
}


.character-info1 {
  width: 100%;
  height: 45px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  background: #1d1e1f;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  z-index: 2; /* 배경 위에 표시되도록 설정 */
}

.box-background {
  flex-grow: 1; /* 남은 공간을 채우도록 설정 */
  background-image: url('../public/back.png'); /* 배경 이미지 경로 */
  background-size: 100% 100%; /* 배경 이미지 크기 조정 */
  background-position: center; /* 배경 이미지 중앙 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 제거 */
  z-index: 1; /* character-info1 아래 배경 */
  position: absolute;
  top: 45px; /* character-info1 높이만큼 아래로 배치 */
  left: 0;
  right: 0;
  bottom: 0;
}

.expedition {
  position: absolute;
  left: 36px; /* x좌표 */
  top: 85px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: left;

  font-family: 'Nanum Gothic', sans-serif; /* 기본 폰트 */
  font-size: 24px; /* 텍스트 크기 */
  font-weight: bold; /* 굵은 텍스트 */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  color : rgb(215, 126, 0);
}

.character-title {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 220px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 30px; /* y2 - y1 */

}

.character-classname {
  position: absolute;
  left: 50px; /* x좌표 */
  top: 30px; /* y좌표 */
  width: 300px; /* x2 - x1 */
  height: 28px; /* y2 - y1 */
  text-align: center;

  font-family: 'Nanum Gothic', 'Noto Sans', sans-serif; /* 예시 폰트 */
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  -webkit-text-stroke: 1px white; /* 외곽선 */

  padding: 5px;

}

.character-serverName {
  position: absolute;
  left: 510px; /* x좌표 */
  top: 15px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  color: rgb(122,148,162);
}

.gem {
  position: absolute;
  left: 5px; /* x좌표 */
  top: 145px; /* y좌표 */
  /* y2 - y1 */
}
.gemName {
  position: absolute;
  left: 27px; /* x좌표 */
  top: 148px; /* y좌표 */
  width: 60px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */

  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif; /* 대체 가능한 서체 */
  font-size: 14px; /* 글자 크기 */
  color: rgb(219,192,155);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.gemValue-1 {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 185px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 30px; /* y2 - y1 */

  color: rgb(219,192,155);
}
.gemValue-2 {
  position: absolute;
  left: 15px; /* x좌표 */
  top: 218px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 30px; /* y2 - y1 */

  color: rgb(219,192,155);
}


.elxir {
  position: absolute;
  left: 5px; /* x좌표 */
  top: 258px; /* y좌표 */
  /* y2 - y1 */
}
.elxirName {
  position: absolute;
  left: 30px; /* x좌표 */
  top: 260px; /* y좌표 */
  width: 60px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */

  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif; /* 대체 가능한 서체 */
  font-weight: 400; /* 보통 두께 */
  font-size: 14px; /* 글자 크기 */
  color: greenyellow; /* 밝은 회색 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.elxirValue {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 295px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 30px; /* y2 - y1 */

  color: greenyellow; /* 밝은 회색 */
}

.card {
  position: absolute;
  left: 8px; /* x좌표 */
  top: 410px; /* y좌표 */
  /* y2 - y1 */
}
.cardName {
  position: absolute;
  left: 22px; /* x좌표 */
  top: 413px; /* y좌표 */
  width: 60px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */

  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif; /* 대체 가능한 서체 */
  font-size: 14px; /* 글자 크기 */
  color: rgb(180,68,0); /* 밝은 회색 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.cardValue-1 {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 450px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 393px; /* y2 - y1 */
}
.cardValue-2 {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 480px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 393px; /* y2 - y1 */
}

.synergy {
  position: absolute;
  left: 6px; /* x좌표 */
  top: 520px; /* y좌표 */
  /* y2 - y1 */
}
.synergyName {
  position: absolute;
  left: 28px; /* x좌표 */
  top: 524px; /* y좌표 */
  width: 60px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */

  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif; /* 대체 가능한 서체 */
  font-size: 14px; /* 글자 크기 */
  color: blueviolet; /* 밝은 회색 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}
.synergyValue-1 {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 560px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 393px; /* y2 - y1 */
  color: blueviolet;
}
.synergyValue-2 {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 590px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 393px; /* y2 - y1 */
  color: blueviolet;
}


.cho {
  position: absolute;
  left: 5px; /* x좌표 */
  top: 335px; /* y좌표 */
  /* y2 - y1 */
}
.choName {
  position: absolute;
  left: 22px; /* x좌표 */
  top: 338px; /* y좌표 */
  width: 60px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */

  font-family: 'Noto Sans', 'Nanum Gothic', sans-serif; /* 대체 가능한 서체 */
  font-weight: bold;
  font-size: 14px; /* 글자 크기 */
  color: yellow; /* 밝은 회색 */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.choValue {
  position: absolute;
  left: 20px; /* x좌표 */
  top: 370px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 30px; /* y2 - y1 */

  color: yellow; /* 밝은 회색 */

}


.character-name {
  position: absolute;
  left: 65px; /* x좌표 */
  top: 88px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  font-family: 'Nanum Gothic', 'Noto Sans', sans-serif; /* 예시 폰트 */
  font-size: 15px;
  color: white;
}

.character-level {
  position: absolute;
  left: 65px; /* x좌표 */
  top: 108px; /* y좌표 */
  width: 280px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  font-family: 'Nanum Gothic', 'Noto Sans', sans-serif; /* 예시 폰트 */
  font-size: 20px;
  color: rgb(235,194,0);
}

.character-image {
  position: absolute;
  left: 335px; /* x좌표 */
  top: 80px; /* y좌표 */
  width: 460px; /* x2 - x1 */
  height: 510px; /* y2 - y1 */
  background-size: cover; /* 또는 contain */
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.item-level {
  position: absolute;
  left: 830px; /* x좌표 */
  top: 130px; /* y좌표 */
  width: 125px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */

  font-family: 'Nanum Gothic', sans-serif; /* 기본 폰트 */
  font-size: 30px; /* 텍스트 크기 */
  font-weight: bold; /* 굵은 텍스트 */
  color: #FFFFFF; /* 텍스트 색상 (흰색) */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* 그림자 효과 */
}

.ArkPassiveStat-1 {
  position: absolute;
  left: 486px; /* x좌표 */
  top: 624px; /* y좌표 */
  width: 30px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */
}

.ArkPassiveStat-2 {
  position: absolute;
  left: 572px; /* x좌표 */
  top: 624px; /* y좌표 */
  width: 30px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */
}

.ArkPassiveStat-3 {
  position: absolute;
  left: 655px; /* x좌표 */
  top: 624px; /* y좌표 */
  width: 30px; /* x2 - x1 */
  height: 20px; /* y2 - y1 */
}

.armor-weapon{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 445px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}

.weapon-quality{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 488px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */

  font-family: 'Noto Sans KR', sans-serif; /* 예시 폰트, 실제 적용하려면 확인 필요 */
  font-size: 10px; /* 텍스트 크기 */
  font-weight: 600; /* 글자 두께 (600은 Bold) */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.weapon-value{
  position: absolute;
  left: 405px; /* x좌표 */
  top: 450px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: left;
  font-size: 10px;
  z-index: 2;
}

.armor-helmet{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 105px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.helmet-quality{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 148px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */

  font-family: 'Noto Sans KR', sans-serif; /* 예시 폰트, 실제 적용하려면 확인 필요 */
  font-size: 10px; /* 텍스트 크기 */
  font-weight: 600; /* 글자 두께 (600은 Bold) */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.helmet-value{
  position: absolute;
  left: 405px; /* x좌표 */
  top: 110px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: left;
  font-size: 10px;
  z-index: 2;
}

.armor-Shoulder{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 171px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.shoulder-quality{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 214px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */

  font-family: 'Noto Sans KR', sans-serif; /* 예시 폰트, 실제 적용하려면 확인 필요 */
  font-size: 10px; /* 텍스트 크기 */
  font-weight: 600; /* 글자 두께 (600은 Bold) */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.shoulder-value{
  position: absolute;
  left: 405px; /* x좌표 */
  top: 175px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: left;
  font-size: 10px;
  z-index: 2;
}

.armor-top{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 240px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.top-quality{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 283px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */

  font-family: 'Noto Sans KR', sans-serif; /* 예시 폰트, 실제 적용하려면 확인 필요 */
  font-size: 10px; /* 텍스트 크기 */
  font-weight: 600; /* 글자 두께 (600은 Bold) */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.top-value{
  position: absolute;
  left: 405px; /* x좌표 */
  top: 245px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: left;
  font-size: 10px;
  z-index: 2;
}

.armor-bottom{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 308px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.bottom-value{
  position: absolute;
  left: 405px; /* x좌표 */
  top: 315px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: left;
  font-size: 10px;
  z-index: 2;
}

.bottom-quality{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 351px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */

  font-family: 'Noto Sans KR', sans-serif; /* 예시 폰트, 실제 적용하려면 확인 필요 */
  font-size: 10px; /* 텍스트 크기 */
  font-weight: 600; /* 글자 두께 (600은 Bold) */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.armor-glove{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 376px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.glove-quality{
  position: absolute;
  left: 347px; /* x좌표 */
  top: 419px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */

  font-family: 'Noto Sans KR', sans-serif; /* 예시 폰트, 실제 적용하려면 확인 필요 */
  font-size: 10px; /* 텍스트 크기 */
  font-weight: 600; /* 글자 두께 (600은 Bold) */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.glove-value{
  position: absolute;
  left: 405px; /* x좌표 */
  top: 380px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: left;
  font-size: 10px;
  z-index: 2;
}

.accesory-neck{
  position: absolute;
  left: 738px; /* x좌표 */
  top: 102px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.neck-value{
  position: absolute;
  left: 682px; /* x좌표 */
  top: 105px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: right;
  font-size: 10px;
  z-index: 2;

}

.accesory-ear1{
  position: absolute;
  left: 738px; /* x좌표 */
  top: 172px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.ear1-value{
  position: absolute;
  left: 682px; /* x좌표 */
  top: 175px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: right;
  font-size: 10px;
  z-index: 2;

}
.accesory-ear2{
  position: absolute;
  left: 738px; /* x좌표 */
  top: 240px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.ear2-value{
  position: absolute;
  left: 682px; /* x좌표 */
  top: 245px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: right;
  font-size: 10px;
  z-index: 2;

}
.accesory-ring1{
  position: absolute;
  left: 738px; /* x좌표 */
  top: 308px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.ring1-value{
  position: absolute;
  left: 682px; /* x좌표 */
  top: 312px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: right;
  font-size: 10px;
  z-index: 2;
}
.accesory-ring2{
  position: absolute;
  left: 738px; /* x좌표 */
  top: 377px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}
.ring2-value{
  position: absolute;
  left: 682px; /* x좌표 */
  top: 382px; /* y좌표 */
  width: 50px; /* x2 - x1 */
  height: 40px; /* y2 - y1 */
  text-align: right;
  font-size: 10px;
  z-index: 2;
}

.accesory-bracelet{
  position: absolute;
  left: 738px; /* x좌표 */
  top: 445px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}

.accesory-stone{
  position: absolute;
  left: 738px; /* x좌표 */
  top: 515px; /* y좌표 */
  border: 1px solid white;
  border-radius: 8px; /* 원하는 정도로 조정 가능 */
  overflow: hidden;
  z-index: 2;
}



.Engraving0 {
  position: absolute;
  left: 815px; /* x좌표 */
  top: 460px; /* y좌표 */
  width: 100px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */

  color: greenyellow;
  text-align: left;

}

.Engraving1 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 490px; /* y좌표 */
  width: 200px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  text-align: left;
  padding-left: 5px;
}

.Engraving2 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 520px; /* y좌표 */
  width: 200px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  text-align: left;
  padding-left: 5px;
}

.Engraving3 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 550px; /* y좌표 */
  width: 200px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  text-align: left;
  padding-left: 5px;
}

.Engraving4 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 580px; /* y좌표 */
  width: 200px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  text-align: left;
  padding-left: 5px;
}

.Engraving5 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 610px; /* y좌표 */
  width: 200px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  text-align: left;
  padding-left: 5px;
}

.BasicStatType-1 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 225px; /* y좌표 */
  width: 60px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: rgb(199,165,3);
  font-weight: bold;
}
.BasicStatType-2 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 260px; /* y좌표 */
  width: 100px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: rgb(199,165,3);
  font-weight: bold;
}

.BasicStatValue-1 {
  position: absolute;
  left: 920px; /* x좌표 */
  top: 225px; /* y좌표 */
  width: 60px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: white;
  text-align: left;
}
.BasicStatValue-2 {
  position: absolute;
  left: 920px; /* x좌표 */
  top: 260px; /* y좌표 */
  width: 100px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: white;
  text-align: left;
}

.StatType-1 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 325px; /* y좌표 */
  width: 40px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: rgb(199,165,3);
  font-weight: bold;
}
.StatValue-1 {
  position: absolute;
  left: 920px; /* x좌표 */
  top: 325px; /* y좌표 */
  width: 40px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: white;
  text-align: left;
}

.StatType-2 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 353px; /* y좌표 */
  width: 40px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: rgb(199,165,3);
  font-weight: bold;
}

.StatValue-2 {
  position: absolute;
  left: 920px; /* x좌표 */
  top: 353px; /* y좌표 */
  width: 40px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: white;
  text-align: left;

}

.StatType-3 {
  position: absolute;
  left: 810px; /* x좌표 */
  top: 382px; /* y좌표 */
  width: 40px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: rgb(199,165,3);
  font-weight: bold;
}
.StatValue-3 {
  position: absolute;
  left: 920px; /* x좌표 */
  top: 382px; /* y좌표 */
  width: 40px; /* x2 - x1 */
  height: 25px; /* y2 - y1 */
  font-family: 'Noto Sans Korean', sans-serif;
  color: white;
  text-align: left;
}

.top-header {
  font-weight: 600;
  font-size: 20px;
}

.top-header .container {
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: center;
}

.navigation {
  justify-content: space-around;
  margin-bottom: 0px;
  margin-top: 0px;
}

li {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  padding: 10px;
}

li:hover {
  background-color : #535353;
  border-radius: 5px;
}

.top-nav {
  width: 100%;
  height: 45px;
  background: #1d1e1f;
}

.logo-home {
  min-width: 160px;
  margin-right: 20px;
}

.search-group {
  width: 100%;
}

.search-cha {
  width: 100%;
  max-width: 800px;
  height: 25px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}