.App {
  text-align: center;
}

body {
  font-family: 'nanumsquare', 'serif';
  background: black;
  color: white;
}

a{
  text-decoration-line : none;
  color : inherit;
  padding-right: 10px;
}

.center-container{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  width: 100%;
  height: 100%;
}


.box {
  justify-content: center;
  border : 1px solid white;
  border-radius : 10px;
  width : 700px;
  height : 700px;
}

.character-info1 {
  width: 100%;
  height: 45px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  background: #1d1e1f;
  box-sizing: border-box;
  border-radius : 10px;
}

.character-info2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.character-info3 {
  width: 45%;
  height: 100px;
  border-radius: 5px;
  padding-left: 10px;
}

.detail-image {
  width: 100%;
  height: auto;
  border-radius : 5px;
}

.character-info4 {
  width: 68%;
  height: 100px;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
}

.character-info4 dl {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;
}

.character-info4 dt {
  flex-basis: 30%;
  font-weight: bold;
  text-align: left;
}

.character-info4 dd {
  flex-basis: 70%;
  margin: 0;
  text-align: left;
}

.top-header {
  font-weight: 600;
  font-size: 20px;
}

.top-header .container {
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: center;
}

.navigation {
  justify-content: space-around;
  margin-bottom: 0px;
  margin-top: 0px;
}

li {
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  width: 100px;
  cursor: pointer;
  padding: 10px;
}

li:hover {
  background-color : #535353;
  border-radius: 5px;
}

.top-nav {
  width: 100%;
  height: 45px;
  background: #1d1e1f;
}

.logo-home {
  min-width: 160px;
  margin-right: 20px;
}

.search-group {
  width: 100%;
}

.search-cha {
  width: 100%;
  max-width: 800px;
  height: 25px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}